html,
body {
    margin: 0;
    padding: 0;
}

.infotable {
    .ant-table-thead {
        .ant-table-cell {
            text-align: center;
        }
    }
}

.infoheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: #4C517A;
    padding: 0 70px;
    .tip {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin: 0 auto;
    }
    .signout {
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
    .antavatar {
        cursor: pointer;
        width: 40px;
        height: 40px;
    }
    .hoverbox {
        width: 150px;
        height: 70px;
        position: absolute;
        top: 60px;
        left: 1370px;
        background-color: #E8E8ED;
        z-index: 999;
        border: 1px solid #E8E8ED;
        ul {
            list-style: none;
        }
        .personcenter {
            color: #000;
            font-size: 17px;
            cursor: pointer;
            margin-top: 5px;
        }
        .signout {
            color: #000;
            font-size: 17px;
            cursor: pointer;
            margin-left: 21px;
        }
    }
}

.tablecell {
    text-align: center;
}

.personal {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: #4C517A;
    padding: 0 70px;
    .tip {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin: 0 auto;
    }
    .detail {
        color: blue;
        text-decoration: none;
    }
}

.content {
    padding: 20px 50px;
    .antload {
        margin-left: 50px;
        margin-top: 30px;
    }
}

.searchbox {
    margin: 30px 0 30px 30px;
}