.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: #4C517A;
    padding: 0 20px;
    .tip {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin: 0 auto;
    }
    .signout {
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
}

.sidebar {
    width: 200px;
    background-color: #000;
    position: relative;
}