html,body {
	margin: 0;
	padding: 0;
}
.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;
	background-color: #4C517A;
	padding: 0 20px;

	.tip {
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		margin: 0 auto;
	}

	.signout {
		color: #fff;
		font-size: 18px;
		cursor: pointer;
	}
}
.tablebox {
	text-align: center;
	.ant-table.ant-table-middle .ant-table-thead > tr > th {
		text-align: center;
	}
}

.ant-table.ant-table-bordered tbody > tr > td {
	text-align: center;
}
